<div *ngIf="userDetails">
  <h2>Welcome, {{ userDetails.firstName }} {{ userDetails.lastName }}</h2>
  <p>Email: {{ userDetails.email }}</p>
  <p>Telefon Number: {{ userDetails.telefonNumber }}</p>
  <p>Role: {{ userDetails.role }}</p>

  <!-- Superadmin-specific content -->

  <app-superadmin-dashboard *ngIf="userDetails.role === UserRole.Superadmin"></app-superadmin-dashboard>
  <app-administrator-dashboard *ngIf="userDetails.role === UserRole.Administrator"></app-administrator-dashboard>
  <app-employee-dashboard *ngIf="userDetails.role === UserRole.Employee"></app-employee-dashboard>
</div>
