<!-- superadmin-dashboard.component.html -->

<div *ngIf="userRole">
  <!-- Container pentru alinierea butoanelor -->
  <div class="container">
    <!-- Butonul pentru a arăta toate companiile -->
    <button class="show-companies-btn" (click)="showAllCompanies()">Show All Companies</button>
  </div>

  <!-- Lista de companii -->
  <div *ngIf="companies && companies.length > 0; else noCompanies">
    <h3>Companies List:</h3>
    <table class="companies-table">
      <thead>
      <tr>
        <th>Company Name</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.name }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.telefonNumber }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Mesajul de "No companies found" apare doar dacă butonul a fost apăsat și lista de companii este goală -->
  <ng-template #noCompanies>
    <div *ngIf="showMessage">
      <p>No companies found.</p>
    </div>
  </ng-template>

  <!-- Container pentru centrare orizontală -->
  <div class="container">
    <!-- Butonul pentru a adăuga o companie -->
    <button *ngIf="!isAddCompanyFormVisible && !isCompanyCreated" (click)="openAddCompanyForm()">Add Company</button>

    <!-- Fereastra pop-up (modală) -->
    <div *ngIf="isAddCompanyFormVisible" class="overlay">
      <div class="modal">
        <button (click)="closeAddCompanyForm()" class="close-btn">×</button>
        <!-- Formularul pentru adăugarea unei companii -->
        <app-add-company
          (closeForm)="closeAddCompanyForm()"
          (companyCreated)="onCompanyCreated()">
        </app-add-company>

        <!-- Butonul de Cancel -->
        <button (click)="closeAddCompanyForm()" class="cancel-btn">Cancel</button>
      </div>
    </div>

    <!-- Butonul pentru a adăuga o altă companie -->
    <button *ngIf="isCompanyCreated && !isAddCompanyFormVisible" (click)="openAddCompanyForm()">Add Another Company</button>
  </div>
</div>
