mat-form-field {
  width: 80%;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;

  th, td {
    padding: 7px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #e6f7ff;
  }
}

.employees-table {
  width: 60%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 1em;
  text-align: left;
}

.employees-table thead tr {
  background-color: #009879;
  color: blue;
  text-align: left;
  font-weight: bold;
}

.employees-table th, .employees-table td {
  padding: 7px 11px;
  border: 1px solid #dddddd;
}

.employees-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.employees-table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.buttons-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}


//.display-button,
//.register-button {
//  background-color: blue;
//  color: white;
//  font-size: 13px;
//  height: 35px;
//  width: 130px;
//  border: none;
//  border-radius: 5px;
//  cursor: pointer;
//}
//
//.display-button:hover,
//.register-button:hover {
//  background-color: darkblue; /* Darker shade on hover */
//}

.edit-button {
  background-color: grey;
  color: white;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  left: 30px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: blue;
}


