<div class="buttons-container">
<!--  <button mat-raised-button color="primary" class="display-button" (click)="showAllEmployees()">Display Employees</button>-->
<!--  <button mat-raised-button color="default" class="register-button" (click)="openDialog()">Register Employee</button>-->
  <div class="p-d-flex p-jc-between p-mb-3">
    <button type="button" pButton (click)="showAllEmployees()" label="Display Employee" class="p-button-primary" style="width: 100%;">
    </button>
  </div>

  <div class="p-d-flex p-jc-between p-mb-3">
    <button type="button" pButton (click)="openDialog()" label="Register Employee" class="p-button-primary" style="width: 100%;">
    </button>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<div *ngIf="showTable" style="margin-left: 600px;">
  <h3>Employees registered:</h3>
</div>

<div *ngIf="showTable" class="table-container">
  <table class="employees-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Account Locked</th>
      <th>Phone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.accountLocked }}</td>
      <td>{{ employee.telefonNumber }}</td>
      <td style="display: flex; justify-content: center; align-items: center;">
        <div class="p-d-flex p-jc-between p-mb-2">
          <button
            type="button"
            pButton
            (click)="openDialog(employee)"
            icon="pi pi-pencil"
            class="p-button-secondary"
            aria-label="Edit"
            style="width: 30px; height: 30px; padding: 0; border-radius: 4px; display: flex; justify-content: center; align-items: center;"
          ></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
