<div class="buttons-container">
  <button mat-raised-button color="primary" class="display-button" (click)="showAllEmployees()">Display Employees</button>
  <button mat-raised-button color="primary" class="register-button" (click)="openDialog()">Register Employee</button>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<div *ngIf="showTable" style="margin-left: 600px;">
  <h3>Employees registered:</h3>
</div>

<div *ngIf="showTable" class="table-container">
  <table class="employees-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Account Locked</th>
      <th>Phone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.accountLocked ? 'True' : 'False' }}</td>
      <td>{{ employee.telefon }}</td>
      <td>

        <button mat-raised-button color="primary" class="edit-button" (click)="openDialog(employee)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
