<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <p-panel [style]="{'width': '60vw', 'padding': '20px', 'box-shadow': '0px 0px 10px rgba(0, 0, 0, 0.1)'}">
    <h3 class="text-center">Login</h3>

    <!-- Display error messages if there are any -->
    <div *ngIf="errorMsg.length > 0" class="p-mb-3">
      <p-messages [value]="errorMsg" class="display:block;"></p-messages>
    </div>
    <!-- Email input -->
    <div class="p-field p-mb-3" style="margin-bottom: 20px;">
      <label for="login">Email address</label>
      <input id="login" type="email" pInputText [(ngModel)]="authRequest.email" placeholder="name@example.com" style="width: 100%;" />
    </div>

    <!-- Password input -->
    <div class="p-field p-mb-3" style="margin-bottom: 20px;">
      <label for="password">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="authRequest.passwordHash"  placeholder="Password" style="width: 100%;" />
    </div>

    <!-- Sign in button -->
    <div class="p-d-flex p-jc-between p-mb-3">
      <button type="button" pButton (click)="login()" label="Log in" icon="pi pi-sign-in" class="p-button-primary" style="width: 100%;">
<!--        <em class="fas fa-sign-in-alt">&nbsp;Log in</em>-->
      </button>
    </div>
  </p-panel>
</div>
