:host ::ng-deep .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

:host ::ng-deep .p-dialog-footer {
  padding-top: 1rem;
}


::ng-deep .p-datepicker table td {
  padding: 0.5px !important;
}



