.calendar-content {
    min-height: calc(100vh - 13.5rem);
    padding: 2rem;

}

.fc {
  height: 720px;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
}

:host ::ng-deep .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

:host ::ng-deep .p-dialog-footer {
  padding-top: 1rem;
}
