
<!-- Dialog pentru afișarea zilelor de vacanță -->
<p-dialog

header="Vacation days information"
        [modal]="true"
        [(visible)]="showVacationDetailsDialog"
        [style]="{ width: '25rem' }">

  <div class="flex align-items-center gap-3 mb-3">
    <label for="previousVacationDays" class="font-semibold w-6rem">Previous Vacation Days</label>
    <input
            pInputText
            id="previousVacationDays"
            class="flex-auto"
            [value]="userDetails?.previousYearVacationDays || 'No previous vacation days'"
            disabled
    />
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="currentVacationDays" class="font-semibold w-6rem">Vacation days left in the current year</label>
    <input
            pInputText
            id="currentVacationDays"
            class="flex-auto"
            [value]="userDetails?.actualYearVacationDays || 'No vacation days left'"
            disabled
    />
  </div>
</p-dialog>

<p-dialog
        [(visible)]="requestVacationForm"
        [style]="{ width: '50rem', height: 'auto' }"
        [modal]="true"
        [closable]="true"
        header="Request Vacation"
>
  <!-- Mesaje -->
  <p-messages
          [(value)]="messages"
          [showTransitionOptions]="'500ms'"
          [hideTransitionOptions]="'500ms'"
          [enableService]="false">
  </p-messages>

  <form #vacationForm="ngForm" (ngSubmit)="submitVacationRequest()">
    <div class="p-fluid">
      <!-- Descriere -->
      <div class="p-field">
        <label for="description" class="font-bold">Description</label>
        <input
                type="text"
                id="description"
                pInputText
                [(ngModel)]="description"
                name="description"
                placeholder="Add a description"
                required
        />
        <small *ngIf="vacationForm.submitted && !description" class="p-error">Description is required.</small>
      </div>

      <!-- Select Admin -->
      <div class="p-field">
        <label class="font-bold">Select Admin</label>
        <p-dropdown
                [options]="availableAdministrators"
                [(ngModel)]="selectedAdministratorId"
                name="administrator"
                optionLabel="email"
                placeholder="Select an administrator"
                [disabled]="availableAdministrators.length === 0"
                (onChange)="selectAdministrator($event.value)"
                required
        ></p-dropdown>
        <small *ngIf="vacationForm.submitted && !selectedAdministratorId" class="p-error">Administrator selection is required.</small>
      </div>

      <!-- Calendar pentru perioada vacanței -->
      <div class="p-field">
        <div class="field">
          <label>Vacation Period</label>
          <p-calendar appendTo="body"
                  [(ngModel)]="date5"
                  selectionMode="range"
                  [readonlyInput]="true"
                  inputId="vacationRange"
                  [disabledDates]="invalidDates"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [numberOfMonths]="2"
                  [showIcon]="true"
                  name="vacantionPeriod"
                  (onSelect)="onSelect($event)"
          ></p-calendar>
        </div>
      </div>
    </div>

    <div class="p-dialog-footer flex justify-content-center">
      <button
              pButton
              label="Submit"
              icon="pi pi-check"
              type="submit"
              class="p-button-primary">
      </button>
    </div>

  </form>
</p-dialog>
<p-messages
        [(value)]="messages1"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
        [enableService]="false">
</p-messages>
<!-- Header pentru tabelul cererilor de vacanță -->
<div *ngIf="showVacationRequestsDialog" class="vacation-requests-header">
  <h2>Vacation Requests</h2>
</div>


<!-- Tabelul cererilor de vacanță -->
<div *ngIf="showVacationRequestsDialog" class="card">
  <p-table [value]="vacationRequests" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Description</th>
        <th>Status</th>
        <th>Date of Approval</th>
        <th>Approved By</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td [ngClass]="'date-highlight'">{{ request.requestedDate | date }}</td>
        <td>{{ request.startDate | date }}</td>
        <td>{{ request.endDate | date }}</td>
        <td>{{ calculateDaysDifference(request.startDate, request.endDate) }}</td>
        <td>{{ request.description }}</td>
        <td [ngClass]="{
                    'status-approved': request.status === 'Approved',
                    'status-pending': request.status === 'New',
                    'status-rejected': request.status === 'Rejected',
                    'status-default': !request.status
                    }">
          {{ request.status }}
        </td>
        <td>{{ request.status === 'Approved' ? (request.requestedDate | date) : 'Not Approved' }}</td>
        <td>{{ request.adminEmail || 'Not Assigned' }}</td>
        <td>
          <p-button
                  label="Delete"
                  icon="pi pi-trash"
                  class="p-button-danger"
                  (onClick)="deleteVacationRequest(request.id)">
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="empty">
      <tr>
        <td colspan="5" class="text-center">No vacation requests</td>
      </tr>
    </ng-template>
  </p-table>

</div>

<!-- Butoane -->
<div class="card flex justify-content-end">
  <p-button (onClick)="requestVacation()" label="Request vacation" class="mr-2 button-spacing"></p-button>
  <p-button (onClick)="viewVacationDetails()" label="See more details" class="button-spacing"></p-button>
</div>


